* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 0.5fr;
}

header {
  width: 100%;
  padding: 3rem;
  background-color: #00414dc4;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 25%;
  max-width: 30rem;
}

header .about-tile {
  max-width: 40%;
  padding: 2rem;
  background-color: whitesmoke;
}

main {
  width: 100%;
  padding: 5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

main .tile-container {
  display: flex;
  background-color: rgba(127, 255, 212, 0.596);
  justify-content: space-between;
}

main .proj-tile {
  width: 30%;
  height: 20rem;
  background-color: chartreuse;
}

footer {
  width: 100%;
  background: #00414dc4;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

footer .contact-info {
  max-width: 30%;
  background-color: rgba(150, 5, 150, 0.308);
}

footer img {
  max-width: 30rem;
}